@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
	margin:0;
	padding:0;
}
html, body{
  overflow: hidden;
}

/* loader */
#loader{
	width:100%;
	height:100vh;
	position: fixed;
	z-index:9999999999;
	background-color: #0F1626;
	overflow:hidden;
}
.loaders{
	position:absolute;
	top:45%;
	left:45%;
}
#loader span{
	width:25px;
	height:25px;
	margin:0 5px;
	background:#ffd957;
	border-radius: 50%;
	display: inline-block;
	animation:dots 2s ease-in-out infinite;
}

#loader span:nth-child(2){
	background-color: #57ffa0;
	animation-delay: 0.4s;
}

#loader span:nth-child(3){
	background-color: #ff8b57;
	animation-delay: 0.9s;
}

@keyframes dots{
	50%{
		opacity: 0;
		transform: scale(0.7) translateY(10px);
	}
}
/* loader */

:root{
	--color-black: #000000;
	--color-white: #ffffff;
	--color-border: #ffffff34;
	--font-staat:'Rambla', sans-serif;
	/* --font-os:
	--font-ram: */
}

/*global classes*/

.font-staat{
	font:normal 40 18px var(--font-staat);
}

.font-size-40{
	font-size: 40px;
}
.font-size-34{
	font-size: 34px;
}
.font-size-27{
	font-size: 27px;
}
.font-size-20{
	font-size: 20px;
}
.font-size-16{
	font-size: 16px;
}

.bgcolor-black{
	background-color: #0F1626;
}

.bgcolor-light{
	background-color: #F6F6F6;
}

.bg-2{
	background-color:white;
}
/* global classes */

#header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index:0;
}

#header nav{
	height:100vh;
}
#header .site-title .navbar-brand{
	letter-spacing: 2px;
	color:var(--color-white);
}

#header .nav-link{
	margin:0.7rem 1rem;
	border-bottom: 1px solid var(--color-border);
	text-transform: uppercase;
}

#header .nav-link:hover{
	color:var(--color-white) !important;
}

#header .toggle-button{
	background:none;
	color: var(--color-black);
	position: fixed;
	top:25px;
	right:20px;
	border:1px solid var(--color-border);
}

.toggle-left{
	left:0 !important;
	width: 1000px !important;
}

/* site-main */

#home{
	background: url(../assets/bg-2.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh; 
	position: relative;
}

.site-banner .banner-area .author{
	margin:0;
	position: absolute;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
}

.site-banner .banner-area .author .author-img{
	width: 200px;
	height:200px;
	border-radius:50%;
	margin:auto;
	background: url(../assets/profile-img.jpg) no-repeat;
	background-size: 200%;
	background-position: 50% 5%;
	border-style: solid;
	border-width: 8px;
  	border-color: #ffffff;
}

@media screen and (min-width:768px){
	.toggle-button{
		display: none;
	}
}

/* site-main */